<div class="flex flex-col gap-1">
  @if (label()) {
  <label [for]="inputID">{{ label() }}</label>
  }
  <div class="flex justify-center items-center">
    <ng-content select="input-prefix"></ng-content>
    <textarea
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [required]="isRequired"
      [id]="inputID()"
      [formControl]="control"
      rows="2"
    ></textarea>
    <ng-content select="input-suffix"></ng-content>
  </div>
  <app-validation-errors
    [customErrorMessages]="customErrorMessages()"
    [validationErrors]="control.errors"
  />
</div>
