<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="w-full flex flex-col justify-center gap-4 px-6"
>
  <app-multi-select
    (click)="submit()"
    formControlName="tags"
    label="Tags"
    inputID="createTag-tags"
    (searchEvent)="searchTags($event)"
    [labelValue]="{ value: '_id', label: 'name' }"
    [options]="state.tags()"
  >
    <ng-container ngProjectAs="input-suffix">
      <span class="cursor-pointer pl-2">
        <i class="material-icons text-sm">tag</i>
      </span>
    </ng-container>
  </app-multi-select>
  <app-input
    inputID="createTag-title"
    label="Title"
    type="text"
    formControlName="title"
    placeHolder="Title for your post"
  >
    <ng-container ngProjectAs="input-suffix">
      <span class="cursor-pointer pl-2">
        <i class="material-icons text-sm">title</i>
      </span>
    </ng-container>
  </app-input>
  <app-textarea
    inputID="createTag-description"
    label="Description"
    type="text"
    formControlName="description"
    placeHolder="A short description of your post"
  >
    <ng-container ngProjectAs="input-suffix">
      <span class="cursor-pointer pl-2">
        <i class="material-icons text-sm">description</i>
      </span>
    </ng-container>
  </app-textarea>
  <markdown
    lineNumbers
    emoji
    katex
    mermaid
    [data]="markdown()"
    class="prose lg:prose-xl dark:prose-invert"
  ></markdown>
  <markdown
    clipboard
    [data]="markdown2()"
    class="prose lg:prose-xl dark:prose-invert"
    [clipboardButtonTemplate]="buttonTemplate"
  ></markdown>
  <div class="w-full flex justify-between items-center">
    <app-button btnType="button" (click)="clear()" class="rounded outline sm">
      <ng-container ngProjectAs="btn-name"
        ><span class="text-sm">Clear</span></ng-container
      >
    </app-button>
    <app-button
      btnType="submit"
      [disabled]="state.loading()"
      class="rounded bg-green-600 text-white sm"
    >
      <ng-container ngProjectAs="btn-name">
        @if(state.loading()) {
        <loader />
        } @else {
        <span class="text-sm">Submit</span>

        }
      </ng-container>
    </app-button>
  </div>
</form>
<ng-template #buttonTemplate>
  <button class="text-white">Copy</button>
</ng-template>
