<div class="relative flex w-full justify-start items-center gap-2 p-1">
  <span (click)="formatOptions('Bold')" data-tooltip="Bold" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >format_bold</i
    >
  </span>
  <span (click)="formatOptions('Italic')" data-tooltip="Italic" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >format_italic</i
    >
  </span>
  <span (click)="formatOptions('Strikethrough')" data-tooltip="Strikethrough" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >format_strikethrough</i
    >
  </span>
  <span (click)="formatOptions('Code')" data-tooltip="Code" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >code</i
    >
  </span>
  <span (click)="formatOptions('Link')" data-tooltip="Link" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >link</i
    >
  </span>
  <span (click)="formatOptions('Image')" data-tooltip="Image" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >image</i
    >
  </span>
  <span (click)="formatOptions('Emoji')" data-tooltip="Emoji" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >face</i
    >
  </span>
  <span (click)="formatOptions('Superscript')" data-tooltip="Superscript" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >superscript</i
    >
  </span>
  <span (click)="formatOptions('Subscript')" data-tooltip="Subscript" class="tooltip">
    <i class="material-icons cursor-pointer text-sm hover:text-green-500"
      >subscript</i
    >
  </span>
</div>
