<div class="w-full h-full overflow-y-auto">
  @for (contact of contacts(); track contact._id) {
  <app-contact-card class="w-full" [contact]="contact">
    <ng-container ngProjectAs="buttons">
      <app-button
        [disabled]="state.cancelRequestLoadingState()"
        class="rounded-full bg-red-600 text-white"
        (click)="cancelRequest(contact._id)"
      >
        <ng-container ngProjectAs="btn-name">
          @if(state.cancelRequestLoadingState() && contact._id ===
          state.clickedID()) {
          <loader />
          } @else {
          <i class="material-icons text-xs">close</i>
          }
        </ng-container>
      </app-button>
    </ng-container>
  </app-contact-card>
  <app-divider />
  }@empty {
  <app-empty />
  }
</div>
