<div class="relative w-full h-full flex flex-col gap-2">
  <app-search-sections class="sticky top-0 z-50 dark:bg-black bg-white" />
  @switch(state.route()){ @case('people') {
  <app-people
    [people]="state.data()"
    [isLoading]="state.loading()"
    [clickedID]="state.clickedID()"
    (clickEvent)="clickEvent($event)"
  />
  } @case('tags') {
  <app-tags [tags]="state.data()" [isLoading]="state.loading()" />
  } @case('posts') {
  <app-posts [tags]="state.data()" [isLoading]="state.loading()" />
  } @default{
  <app-posts [tags]="state.data()" [isLoading]="state.loading()" />
  } }
</div>
