<app-card class="block md:w-96">
  <ng-container ngProjectAs="header">
    <div class="w-full text-center text-2xl pt-4 font-bold">Reset Password</div>
  </ng-container>
  <ng-container ngProjectAs="body">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="flex flex-col justify-center items-center gap-4"
    >
      <app-input
        inputID="verify-email"
        label="Email"
        type="email"
        formControlName="email"
      >
        @if (!state.tokenPresent()) {
        <ng-container ngProjectAs="input-prefix">
          <span class="cursor-pointer pr-2">
            <i class="material-icons text-sm">email</i>
          </span>
        </ng-container>
        }

        <ng-container ngProjectAs="input-suffix">
          @if (!state.tokenPresent()) {
          <app-button
            (click)="sendEmail()"
            [disabled]="state.emailApiLoading()"
            class="ml-2 rounded bg-gradient-to-r from-indigo-500 to-pink-500 text-white sm"
          >
            <ng-container ngProjectAs="btn-name">
              @if(state.emailApiLoading()) {
              <loader />
              } @else {
              <span class="text-sm">Send</span>
              }
            </ng-container>
          </app-button>
          } @else {
          <span class="cursor-pointer pl-2">
            <i class="material-icons text-sm">email</i>
          </span>
          }
        </ng-container>
      </app-input>

      @if (state.tokenPresent()) {
      <div class="w-full flex flex-col justify-center items-center gap-2">
        <app-input
          (cut)="preventDefault($event)"
          (copy)="preventDefault($event)"
          (paste)="preventDefault($event)"
          inputID="reset-password"
          [type]="state.passwordVisibility() ? 'text' : 'password'"
          label="Password"
          formControlName="password"
          [customErrorMessages]="passwordValidation"
        >
          <ng-container ngProjectAs="input-suffix">
            <span (click)="state.togglePassword()" class="cursor-pointer pl-2">
              <i class="material-icons text-sm">
                {{
                  state.passwordVisibility() ? "visibility" : "visibility_off"
                }}
              </i>
            </span>
          </ng-container>
        </app-input>

        <app-input
          (cut)="preventDefault($event)"
          (copy)="preventDefault($event)"
          (paste)="preventDefault($event)"
          inputID="reset-confirm-password"
          [type]="state.confirmPasswordVisibility() ? 'text' : 'password'"
          label="Confirm Password"
          formControlName="confirmPassword"
          [customErrorMessages]="passwordValidation"
        >
          <ng-container ngProjectAs="input-suffix">
            <span
              (click)="state.toggleConfirmPassword()"
              class="cursor-pointer pl-2"
            >
              <i class="material-icons text-sm">
                {{
                  state.confirmPasswordVisibility()
                    ? "visibility"
                    : "visibility_off"
                }}
              </i>
            </span>
          </ng-container>
        </app-input>

        <div class="w-full flex justify-between items-center">
          <app-button btnType="button" (click)="clear()" class="rounded outline sm">
            <ng-container ngProjectAs="btn-name"
              ><span class="text-sm">Clear</span></ng-container
            >
          </app-button>
          <app-button
            btnType="submit"
            [disabled]="state.loading() || !state.disableEmail()"
            class="ml-2 rounded bg-green-600 text-white sm"
          >
            <ng-container ngProjectAs="btn-name">
              @if(state.loading()) {
              <loader />
              } @else {
              <span class="text-sm">Submit</span>

              }
            </ng-container>
          </app-button>
        </div>
      </div>

      } @else {
      <div class="text-green-500 text-xs text-center w-full">
        Note: Check your email for reset password link!
      </div>
      }

      <div class="w-full flex justify-center items-center">
        <i>
          <small class="font-bold">Know your password? </small>
          <small class="text-blue-600 dark:text-blue-300 underline">
            <a [routerLink]="Routes().Auth.Login">login here.</a></small
          >
        </i>
      </div>
    </form>
  </ng-container>
</app-card>
